@import url('https://static.oracle.com/cdn/jet/11.1.9/default/css/redwood/oj-redwood-min.css');
@import url('https://static.oracle.com/cdn/fnd/gallery/2210.1.0/OracleFont/OracleFont.min.css');
@import url('https://static.oracle.com/cdn/fnd/gallery/2210.1.0/images/iconfont/ojuxIconFont.min.css');

body {
    padding: 25px;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

#innerCollapsible {
    margin-left: 30px;
}

div.networkStatus {
    position:fixed; 
    bottom: 0; 
    width: 100%; 
    max-height:50px; 
    text-align:center; 
    color:#FCFBFA; 
    background-color:#312D2A; 
    font-weight:bold;
}

oj-table {
    height:300px;
}